/*
 * Globals
 */



 body {
   font-family: 'Montserrat', sans-serif;
 }

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */


html {
  background-color: black;
}
html,
body {
  height: 100%;
}

/* Javascript page transitions reference */
html {
   animation: fadeSiteIn 0.5s ease forwards; /* [1] */
}

html.fadeSiteOut {
 animation:  fadeSiteOut 0.5s ease forwards; /* [2] */
}


@keyframes fadeSiteIn { /* [1] */
   from   { opacity: 0; }
   to    { opacity: 1; }
}

@keyframes fadeSiteOut { /* [2] */
   from   { opacity: 1; }
   to     { opacity: 0; }
}

/* Background images of info pages */

 {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-image:url("../images/learn2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

 {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-image:url("../images/careers2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

 {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-image:url("../images/inspire2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

/* Navigation bar */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead {
  background-color: black;
  width: 100%;
  z-index: 1;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 30px;

}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;

}
.masthead-nav.mistyrose > li > a:hover,
.masthead-nav.mistyrose > li > a:focus {
  background-color: transparent;
  border-bottom-color: #FFC0CB;
  border-bottom-color: rgba(255,192,203);
}

.masthead-nav.blue > li > a:hover,
.masthead-nav.blue > li > a:focus {
  background-color: transparent;
  border-bottom-color: DeepSkyBlue;
  border-bottom-color: DeepSkyBlue;
}

.masthead-nav.purple > li > a:hover,
.masthead-nav.purple > li > a:focus {
  background-color: transparent;
  border-bottom-color: #B51D73;
  border-bottom-color: #B51D73;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

#rightmarginreq {
  margin-right: 30px;
}

#leftmarginreq {
  padding-left: 30px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
}

/* Change color of dropdown links on hover */
.mistyrose .dropdown-content a:hover {background-color: MistyRose; color: black;}

.blue.dropdown-content a:hover {background-color: DeepSkyBlue;}

.purple.dropdown-content a:hover {background-color: #B51D73;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: black;}

/* Social nav bar */

#socialblue:hover {
  background-color: DeepSkyBlue;
  color: black;
}

#socialrose:hover {
  background-color: MistyRose;
  color: black;
}

#socialpurple:hover {
  background-color: #B51D73;
  color: black;
}

.masthead-brand {
  float: left;
}
.masthead-nav {
  float: right;
}

#socialblue, #socialrose, #socialpurple {
  font-size: 20px;
display: inline-block;
}

/* Jumbotron styling */


.jumbotron {
  padding-bottom: 0;
  padding-top: 0px;
}

.jumbotronimg {
  width: 100%;
  height: 100%;
}

.btn-primary {
  display: flex;

  background-color: black;
  border: 2px solid black;
  border-radius: 0px;
  justify-content: center;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: white;
    background-color: Dimgray;
    border-color: Dimgray; /*set the color you want here*/
}



/* MAIN PAGE CSS - EDIT BELOW ->>>>> */



.container-fluid.content {
  background-color: black;
  color: white;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 16px;
  text-align: left;
  position: relative;
  bottom: 50px;

}

.jumbotron {
  background-color: black;
}
.jumbotronimg {
  bottom: 20px;
}

#credit {
  text-align: right;
}

h1, h2, h3 {
  color: MistyRose;
}

#title {
  font-size: 45px;
}

#learnstyle {
  color: red;
}

.centertext {
  text-align: center;
}

.inspiretext {
  color: #DCD8C7;
}

.bio {
  color: black;
}
/* END OF CSS STYLING FOR MAIN BODY OF PAGE TEXT */

 /* Cover*/

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

}

/* Responsive design */



@media only screen and (max-width: 807px) {

  #videodesc {
    font-size: 12px;
  }
 #videoheader {
   visibility: hidden;
 }

}

@media only screen and (max-width: 770px) {
  .jumbotron {
    padding-bottom: 0;
    padding-top: 0px;
  }
  .navbar-left {
    display: inline-flex;

  }

  .masthead-nav {
    display: flex;
  }

  #socialrose, #socialblue, #socialpurple {
    padding-left: 5px;
    padding-right: 5px;
  }

  .first {
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .infobox {
    width: 90%;
    height: auto;
    margin-bottom: 5%;
  }

  .masthead {
    height: 12rem;
  }

  #socialicon {
    padding-top: 0px;
    padding-bottom: 0px:
    margin-top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .jumbotron {
    padding-bottom: 0;
    padding-top: 0px;
  }

  .infotitle {
    bottom: 0rem;
  }
}

@media only screen and (max-width: 758px) {
  .infotitle {
    top: 18rem;
    right: 6rem;
    width: 80%;
    padding: 0px;
  }
  .infocontainer {
    position: relative;
    height: 10%;
  }
}

@media only screen and (max-width: 500px) {
  .social.nav {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 472px) and (max-width: 500px) {
  .masthead-nav > li > a {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 388px) and (max-width: 472px) {
  .masthead-nav > li > a {
    padding-left: 50px;

  }

  .masthead-nav {
    display: block;
  }
}

@media only screen and (max-width: 387px) {
  .masthead-nav {
    display: block;
  }


  .container-fluid.content {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media only screen and (min-width: 329px) and (max-width: 388px) {

  .masthead-nav {
    height: 5rem;
  }
}
